{% extends 'RASPRaspBundle:Rasp:layout.html.twig' %}

{% block meta_info %}
    <title>Liste des actions</title>
{% endblock %}




{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/rasp.css') }}" />
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"> <h3 class="panel-title"> Liste des actions pour la borne : {{ rasp_id }}</h3></div>
        <table class="table">
            <tr>
                <td>
                    <form method="get" action="{{ path("r_com_rebootPlz", {'rasp_id' : rasp_id}) }}">
                        <button class="btn btn-info">Redémarrer</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form method="get" action="{{ path("r_com_updatePlz", {'rasp_id' : rasp_id}) }}">
                        <button class="btn btn-info">Mettre à jour</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form method="get" action="{{ path("r_com_upgradePlz", {'rasp_id' : rasp_id}) }}">
                        <button class="btn btn-warning">Mettre à niveau</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form method="get" action="{{ path("r_com_personalPlz", {'rasp_id' : rasp_id}) }}">
                        <button class="btn btn-success">Effectuer une nouvelle action personnalisée</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"> <h3 class="panel-title"> Actions réalisées ou en cours </h3> </div>
        <table>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>type</th>
                <th>commande</th>
                <th>Finir</th>
                <th>Recommencer</th>
            </tr>
            {% for action in listRaspActions %}
                <tr>
                    <th>{{ action.id }}</th>
                    <th>{{ action.status }}</th>
                    <th>{% if action.codeCmd == 0 %}
                            Personnalisée
                        {% else %}
                            Système
                        {% endif %}
                    </th>
                    <th>{% if action.Cmd > 0 %}
                            {% if action.Cmd == 1 %}
                                Rafraîchissement des paquets
                            {% elseif action.Cmd == 3 %}
                                Mise à jour
                            {% elseif action.Cmd == 2 %}
                                Mise à niveau
                            {% elseif action.Cmd == 10 %}
                                Redémarrage
                            {% endif %}
                        {% else %}
                            {{ action.cmd }}
                        {% endif %}</th>
                    <th>
                        {% if action.status == 1 %}
                            <form method="get" action="{{ path("r_com_deleteAction", {'rasp_id' : rasp_id, 'action_id' : action.id}) }}">
                                <button class="btn btn-block btn-danger">Supprimer</button>
                            </form>
                        {% else %}
                            <form method="get" action="{{ path("r_com_deleteAction", {'rasp_id' : rasp_id, 'action_id' : action.id}) }}">
                                <button class="btn btn-block btn-warning">Annuler</button>
                            </form>
                        {% endif %}
                    </th>
                    <th>
                        <form method="get" action="">
                            <button class="btn btn-block btn-success">Recommencer</button>
                        </form>
                    </th>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}