{% extends 'RASPRaspBundle:Rasp:layout.html.twig' %}

{% block meta_info %}
    <title>Liste des Raspberries</title>
{% endblock %}




{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/rasp.css') }}" />
<div class="container">
    {% if listRasp[0].ufr %} {# Test whether template is used for listRasp or listOrphanRasp #}
        <h1>Liste des bornes votre UFR</h1>
    {% else %}
        <h1>Liste des bornes orphelines</h1>
    {% endif %}
    <table>
        <tr>
            <th>Statut</th>
            <th>ID</th>
            <th>UUID</th>
            <th>Emplacement</th>
            {% if listRasp[0].ufr %} {# Test whether template is used for listRasp or listOrphanRasp #}
            <th>UFR</th>
            {% endif %}
            <th>Info</th>
            <th>Volume maximal</th>
            <th>Éditer</th>
            <th>Contrôle</th>
        </tr>
    {% for rasp in listRasp %}
        <tr>
            <th>
                {% if rasp.status == 0 %}
                    <span class="status_off">Éteint</span>
                {% elseif rasp.status == 1 %}
                    <span class="status_critical">Problème critique</span>
                {% elseif rasp.status == 2 %}
                    <span class="status_warning">Problème</span>
                {% else %}
                    <span class="status_ok">OK</span>
                {% endif %}
            </th>
            <th><a href="{{ path("rasp_showRasp", {'rasp_id' : rasp.id}) }}">{{ rasp.id }}</a></th>
            <th>{{ rasp.uuid }}</th>
            <th>{{ rasp.place }}</th>
            {% if rasp.ufr %}
            <th><a href="{{ path("admin_showUfr", {'ufr_id' : rasp.ufr.id}) }}">{{ rasp.ufr }}</a></th>
            {% endif %}
            <th>{{ rasp.info }}</th>
            <th><span
                        {% if rasp.maxVol <= 5 %}
                            class="status_warning"
                        {% endif %}
                >{{ rasp.maxVol }}</span>
            </th>
            <th>
                <form method="get" action="{{ path("rasp_editRasp", {'rasp_id' : rasp.id}) }}">
                    <button class="btn btn-block btn-info">Editer</button>
                </form>
            </th>
            <th>
                <form method="get" action="{{ path("rasp_listActions", {"rasp_id" : rasp.id}) }}">
                    <button class="btn btn-block btn-warning">Contrôler</button>
                </form>
            </th>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}