{% extends 'RASPRaspBundle:User:layout.html.twig' %}
{% block meta_info %}
<title>UFR - Édition</title>
{% endblock %}


{% block content %}
    {{ form_start(form) }}
    <div class="container">
        <div class="list-group">
            <a class="list-group-item active"> Modification ou création d'une UFR </a>
            <a class="list-group-item">
                <div class="row">
                    <div class="col-sm-6"> Nom </div>
                    <div class="col-sm-6"> {{ form_widget(form.name) }}</div>
                </div>
            </a>
            <a class="list-group-item">
                <div class="row">
                    <div class="col-sm-6"> Valider </div>
                    <div class="col-sm-6"> {{ form_widget(form.save) }}</div>
                </div>
            </a>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{#
{{ form_start(form) }}
    <div class="container">
       <div class="list-group">
            <a class="list-group-item active"> Modification ou création d'un utilisateur </a>
            <a class="list-group-item">
               <div class="row">
                   <div class="col-sm-6"> Login </div>
                   <div class="col-sm-6"> {{ form_widget(form.username) }}</div>
               </div>
            </a>
            <a class="list-group-item">
               <div class="row">
                   <div class="col-sm-6"> Adresse mail </div>
                   <div class="col-sm-6"> {{ form_widget(form.email) }}</div>
               </div>
            </a>
            <a class="list-group-item">
               <div class="row">
                   <div class="col-sm-6"> Statut </div>
                   <div class="col-sm-6"> {{ form_widget(form.status) }}</div>
               </div>
            </a>
            <a class="list-group-item">
               <div class="row">
                   <div class="col-sm-6"> Grade (Admin ou non) </div>
                   <div class="col-sm-6"> {{ form_widget(form.rank) }}</div>
               </div>
            </a>
            <a class="list-group-item">
               <div class="row">
                   <div class="col-sm-6"> UFR </div>
                   <div class="col-sm-6"> {{ form_widget(form.ufr) }}</div>
               </div>
            </a>

           <a class="list-group-item">
               <div class="row">
                   <div class="col-sm-6"> Validation </div>
                   <div class="col-sm-6"> {{ form_widget(form.save) }} </div>
               </div>
           </a>

       </div>
    </div>
    {{ form_end(form) }}
    #}
