{% extends 'RASPRaspBundle:User:layout.html.twig' %}
{% block meta_info %}
<title>Détails UFR</title>
{% endblock %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/user.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/rasp.css') }}" />
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Vue d'ensemble de l'UFR</h3>
                ID: {{ ufr.id }}<br/>
                Nom: {{ ufr.name }}<br/>
                {% if is_granted("ROLE_ADMIN") %}
                <form method="get" action="{{ path('admin_editUfr', {'ufr_id': ufr.id} ) }}">
                    <button class="btn btn-info">Éditer le nom</button>
                </form>
                {% endif %}
            </div>
            <div class="col-sm-4">

                <h3>Liste des utilisateurs</h3>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                    </tr>
                {% for user in listUsers %}
                    <tr>
                        <th>{{ user.id }}</th>
                        <th><a href="{{ path("admin_showUser", {'user_id' : user.id}) }}">{{ user.username }}</a></th>
                    </tr>
                {% endfor %}
                </table>
                <br/>
            </div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Statut</th>
                    </tr>
                    <h3>Liste des équipements</h3>
                    {% for rasp in listRasp %}

                        <tr>
                            <th><a href="{{ path("rasp_showRasp", {'rasp_id' : rasp.id}) }}">{{ rasp.id }}</a></th>
                            <th>
                                {% if rasp.status == 0 %}
                                    <span class="status_off">Éteint</span>
                                {% elseif rasp.status == 1 %}
                                    <span class="status_critical">Problème critique</span>
                                {% elseif rasp.status == 2 %}
                                    <span class="status_warning">Problème</span>
                                {% else %}
                                    <span class="status_ok">OK</span>
                                {% endif %}
                            </th>
                        </tr>
                    {% endfor %}
                </table>
                <br/>
                <form method="get" action="{{ path('rasp_listRasp', {'ufr_id' : ufr.id}) }}">
                    <button class="btn btn-info">Vue détaillée</button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}

