{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <form action="{{ path('fos_user_change_password') }}" method="POST" class="form-signin">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <p>
            <label>{{ form_label(form.current_password, 'Mot de passe actuel') }} </label>
            <span class="for">{{ form_widget(form.current_password) }}</span>
        </p>
        <p>
            <label>Nouveau mot de passe</label>
            <span class="edit_right">{{ form_widget(form.plainPassword.first) }}</span>
        </p>
        <p>
            <label>Vérification</label>
            <span class="edit_right">{{ form_widget(form.plainPassword.second) }}</span>
        </p>
        <div>
            <input type="submit" class="btn btn-lg btn-primary btn-block btn-success" value="{{ 'Changer de mot de passe'|trans }}" />
        </div>
        {{ form_end(form) }}
    </form>
{% endblock %}