{# src/OC/PlatformBundle/Resources/views/Advert/testView.html.twig #}

{#
OMG that's like Django !!!
#}
{% extends "OCPlatformBundle::layout.html.twig" %}


{% block body %}
<p>

    Affichage de l'annonce d'id: {{ id }}<br/>
    Avec le tag : {{ tag }}<br/>
    La requete est de type: {{ requestType }}<br/>
    {% if userId is defined %}
        {% set id = 'id' %}  {# useless yeah!! #}
        Votre {{ id }} d'utilisateur: {{ userId }}
    {% endif %}

    {% for msg in app.session.flashBag.get('notice') %}
        <!-- if page reloaded > disappear -->
        <p> Message flash: {{ msg }}<br/>
            position du message {{ loop.index }} sur {{ loop.length }}

        </p>
    {% endfor %}

</p>

<p>
    <i>Un petit formulaire commun à pluieurs pages</i>
    {{ include("OCPlatformBundle:Advert:form.html.twig") }}
</p>

</body>

{% endblock %}
