{# src/LOG/LoginBundle/Resources/views/layout.html.twig#}
{#
    !!! This file should only be extended by files having a 'user' var (user is logged) !!!
#}
{% extends "::layout.html.twig" %}

{% block meta_info %}
    <title> Signin </title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.min.css') }}" />

{% endblock %}

{% block pages %}
<ul class="nav navbar-nav">
    <li class="nav-item active">
        <a class="nav-link navbar-brand" href="{{ path('admin_showUser', {'user_id' : loggedInUser.id}) }}">Mon profil</a>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a class="nav-link navbar-brand" href="{{ path('admin_homepage') }}">Administration</a>
        </li>
        <li>
            <a class="nav-link nav-item" href="{{ path('admin_listUfrs') }}">Les UFR</a>
        </li>
        <li>
            <a class="nav-link nav-item" href="{{ path('admin_users') }}">Les Utilisateurs</a>
        </li>
    {% else %}
        <li>
            <a class="nav-link navbar-brand" href="{{ path('admin_showUfr', {'ufr_id' : loggedInUser.ufr.id}) }}">Mon UFR</a>
        </li>
        <li>
            <a class="nav-link navbar-brand" href="{{ path('rasp_listRasp', {'ufr_id' : loggedInUser.ufr.id}) }}">Mes Bornes</a>
        </li>
    {% endif %}
</ul>
<ul class="nav navbar-nav navbar-right">
    <li>
        <a class="navbar-brand navbar-right" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
    </li>
    {#
    {% set p_arr = {profile: 'Profile', users: 'Utilisateurs', group: 'Groupes'} %}
    {% for key, item in p_arr %}
        <li class=""nav-item active">
            <a class="nav-link navbar-brand" href="{{ path(key) }}"> {{ item }} </a>
        </li>
    {% endfor %}
    #}

</ul>
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item">Outil de Gestion</li>
</ul>

{% endblock %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                One of three columns
            </div>
            <div class="col-sm-4">
                One of three columns
            </div>
            <div class="col-sm-4">
                One of three columns
            </div>
        </div>
    </div>

{% endblock %}


