{% extends 'RASPRaspBundle:User:layout.html.twig' %}
{% block meta_info %}
<title>Profile utilisateur</title>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                Utilisateur
                {% if user.enabled %}
                    actif
                {% else %}
                    inactif
                {% endif %}
                <br/>
                ID: {{ user.id }}<br/>
                Nom: {{ user.username }}<br/>
                Email: {{ user.email }}<br/>
                Statut: {{ user.status }}<br/>
                Grade: {{ user.rank }}<br/>
                Ufr: {{ user.ufr }}<br/>

                <form method="get" action="{{ path('admin_editUser', {'user_id': user.id} ) }}">
                    <button>Éditer</button>
                </form>

            </div>
            <div class="col-sm-4">
                One of three columns
            </div>
            <div class="col-sm-4">
                One of three columns
            </div>
        </div>
    </div>

{% endblock %}

