{% extends 'RASPRaspBundle:User:layout.html.twig' %}
{% block meta_info %}
<title>Profile utilisateur</title>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                Utilisateur
                {% if user.enabled %}
                    actif
                {% else %}
                    inactif
                {% endif %}
                <br/>
                ID: {{ user.id }}<br/>
                Nom: {{ user.username }}<br/>
                Email: {{ user.email }}<br/>
                Statut: {{ user.status }}<br/>
                Grade: {{ user.rank }}<br/>
                Ufr: <a href="{{ path('admin_showUfr', {'ufr_id' : user.ufr.id}) }}">{{ user.ufr }}</a><br/>

                <form method="get" action="{{ path('admin_editUser', {'user_id': user.id} ) }}">
                    <button class="btn btn-default">Éditer</button>
                </form>

                {# TODO: implement role protection #}
                <form method="get" action="{{ path('admin_toggleUser', {'user_id' : user.id}) }}">
                    {% if user.enabled %}
                    <button class="btn btn-warning">
                        Désactiver
                    </button>
                    {% else %}
                    <button class="btn btn-success">
                        Activer
                    </button>
                    {% endif%}
                </form>

            </div>
            <div class="col-sm-4">
                One of three columns
            </div>
            <div class="col-sm-4">
                One of three columns
            </div>
        </div>
    </div>

{% endblock %}

